<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./component/head.ejs')%>
  <body>
    
    <%- include('./component/nav.ejs')%>
    <div class="create-blog ">
  
      <form action="/ordertable/<%= order_table[0].order_id %>?_method=PUT " method="POST">
        <label for="changeCustomerName"><b>Change Customer Name:</b></label>
        <input type="text" id="title" name="customerName" value="<%= order_table[0].customer_name %>" required>
        
        <label for="changeQuantity"><b>Change Quantity:</b></label>
        <input type="text" id="title" name="newquantity" value="<%= order_table[0].quantity %>" required>
        
        <!-- Update Product Information -->
        <label for="changeProductName"><b>Change Menu:</b>
          <ul>
            <li>Espresso</li>
            <li>Latte</li>
            <li>Cappuccino</li>
            <li>Black Coffee</li>
            <li>Muffin</li>
            <li>Croissant</li>
            <li>Bagel</li>
            <li>Brownie</li>
            <li>Iced Coffee</li>
            <li>Smoothie</li>
        </ul></label>
        <input type="text" id="title" name="productName" value="<%= order_table[0].product_name %>" required>
               
        <button class="navg"><a class="update" data-doc="<%=order_table[0].order_id%>" > Update</a></button>
       
        </form> 


    </div>
    

    <%- include('./component/footer.ejs')%>
  </body>
  <script>
    const updatepost=document.querySelector("a.update");
   
    updatepost.addEventListener('click',(e)=>{
      const updatebutt=`/ordertable/${updatepost.dataset.doc}`;
    fetch(updatebutt ,  {
      method:'PUT',
     
    })
    .then((res)=>{return res.json({redirect:`/ordertable/`})})
     
      .catch((err)=>{console.log(err);})

})

    </script>
</html>
